<app-index-navbar></app-index-navbar>
<section class="anim header relative items-center flex h-screen">



    <div class="mx-auto items-center flex flex-wrap country-wrap">

        <div class="grass"></div>
        <div class="street">
            <div class="car">
                <div class="car-body">
                    <div class="car-top-back">
                        <div class="back-curve"></div>
                    </div>
                    <div class="car-gate"></div>
                    <div class="car-top-front">
                        <div class="wind-sheild"></div>
                    </div>
                    <div class="bonet-front"></div>
                    <div class="stepney"></div>
                </div>
                <div class="boundary-tyre-cover">
                    <div class="boundary-tyre-cover-back-bottom"></div>
                    <div class="boundary-tyre-cover-inner"></div>
                </div>
                <div class="tyre-cover-front">
                    <div class="boundary-tyre-cover-inner-front"></div>
                </div>
                <div class="base-axcel">

                </div>
                <div class="front-bumper"></div>
                <div class="tyre">
                    <div class="gap"></div>
                </div>
                <div class="tyre front">
                    <div class="gap"></div>
                </div>
                <div class="car-shadow"></div>
            </div>
        </div>
        <div class="street-stripe"></div>
        <div class="hill">
        </div>
        <div class="container mx-auto">
            <div class="mx-auto main-box px-4">
                <div>
                    <h2 class="font-semibold text-4xl text-slate-600">
                        <div class="sun">
                            <div class="royal"></div>
                        </div> Blockchain for Smart Cities
                    </h2>
                    <p class="mt-4 text-lg leading-relaxed text-slate-500">
                        Empowering global citizens in the modern era.
                    </p>
                    <div class="mt-12">
                        <a href="#" target="_blank"
                            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                            Get started here!
                        </a>
                        <a href="#"
                            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-slate-700 active:bg-slate-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
                            target="_blank">
                            Download Wallet
                        </a>
                    </div>
                </div>

            </div>
        </div>


    </div>


</section>
<section>
    <div class="pb-40 relative bg-slate-100">



        <div class="container mx-auto px-4 pb-32 pt-48">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                    <div class="md:pr-12">

                        <h3 class="text-3xl font-semibold">EVERYONE IS INVITED</h3>
                        <p class="mt-4 text-lg leading-relaxed text-slate-500 text-justify">

                            The Royal Sports City Platform will open up a world of services that are delivered from
                            around the world, not just the city of Royal.
                        </p>
                        <p class="mt-4 text-lg leading-relaxed text-slate-500 text-justify">
                            We will partner with other blockchains and tokens, making them more accessible to everyone
                            that uses Royal Coins on the Royal Sports City Platform.
                        </p>
                        <p class="mt-4 text-lg leading-relaxed text-slate-500 text-justify">
                            We want everyone to be able to start using Royal Coins without any technical expertise and
                            through our integrations with other coin and tokens platforms, our Royal Sports City
                            Platform users will have access to a wide catalog of services.
                        </p>

                    </div>
                </div>

                <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
                    <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);
          " src="assets/img/royal.jpg" />
                </div>
            </div>
        </div>

        <div class="justify-center text-center flex flex-wrap mt-24">
            <div class="w-full md:w-6/12 px-12 md:px-4">
                <h2 class="font-semibold text-4xl">FEATURES OVERVIEW</h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-slate-500">
                    The Royal Sports City Platform will host a number of software and services, that makes the
                    crypto-currencies and blockchain-technologies available to everyone.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="block relative z-1 bg-slate-600">
    <div class="container mx-auto">
        <div class="justify-center flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4 -mt-24">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-4/12 px-4">
                        <h5 class="text-xl font-semibold pb-4 text-center">Wallet Software</h5>
                        <a [routerLink]="['/auth/login']">
                            <div
                                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                                    src="assets/img/login.jpg" />
                            </div>
                        </a>
                    </div>

                    <div class="w-full lg:w-4/12 px-4">
                        <h5 class="text-xl font-semibold pb-4 text-center">Royal Sports City Blockchain</h5>
                        <a [routerLink]="['/profile']">
                            <div
                                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                                    src="assets/img/profile.jpg" />
                            </div>
                        </a>
                    </div>

                    <div class="w-full lg:w-4/12 px-4">
                        <h5 class="text-xl font-semibold pb-4 text-center">Royal Sports City Hub</h5>
                        <a [routerLink]="['/landing']">
                            <div
                                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                                    src="assets/img/landing.jpg" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-20 bg-slate-600 overflow-hidden">
    <div class="container mx-auto pb-64">
        <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto">

                <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
                    THE NEXT STEP
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-slate-400 text-justify">
                    Our mission is to expand the usage and availability of services built using blockchain technology,
                    and to apply those services to cities, towns and the lives of citizens. We want to make blockchain
                    technology available for everyone to use. And to do just that we are building the Royal Sports City
                    Chain
                    blockchain and the Royal Sports City Platform.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-slate-400 text-justify">
                    Blockchain technology is not a magic bullet that can be applied to every exisiting computer or human
                    system. That is why we are building the Royal Sports City Platform on top of the Royal Sports City
                    Chain blockchain,
                    ensuring that we are utilizing the most optimal technology for the different services and
                    experiences provided by Royal Sports City Chain and the Royal Sports City Platform.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-slate-400 text-justify">
                    Cities and citizens will be able to use the Royal Sports City Chain to improve how they communicate,
                    socialize, trade, and manage assets (both physical and digital). In addition, it will be possible to
                    reduce costs and overhead, while simultaneously empowering us with all the tools we need to take the
                    next step forward!
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-slate-400 text-justify">
                    “Cities are mankind’s most enduring and stable mode of social organization, outlasting all empires
                    and nations over which they have presided.”<br> Parag Khanna
                </p>

            </div>

            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative background-royal">
            </div>
        </div>
    </div>
</section>

<section class="pb-16 bg-slate-200 relative pt-32">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-slate-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10">
            <div class="w-full text-center lg:w-8/12">
                <p class="text-4xl text-center">
                    <span role="img" aria-label="love"> 😍 </span>
                </p>
                <h3 class="font-semibold text-3xl">Do you love this Starter Kit?</h3>
                <p class="text-slate-500 text-lg leading-relaxed mt-4 mb-4">
                    Cause if you do, it can be yours now. Hit the buttons below to
                    navigate to get the Free version for your next project. Build a new
                    web app or give an old project a new look!
                </p>
                <div class="sm:block flex flex-col mt-10">
                    <a href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
                        target="_blank"
                        class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                        Get started
                    </a>
                    <a href="https://github.com/creativetimofficial/royal-sports-city?ref=creativetim" target="_blank"
                        class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-slate-700 active:bg-slate-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                        <i class="fab fa-github text-lg mr-1"></i>
                        <span>Help With a Star</span>
                    </a>
                </div>
                <div class="text-center mt-16"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
